<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          あなたのツイート
        </div>
        <div class="card-body">
          <p class="card-text"><%= @text %></p>
        </div>
      </div>
      <p></p>
      <p>に対するAIのリプライは…</p>
      <p></p>
      <div class="card text-center">
        <div class="card-header">
          AIが自動生成したリプライ
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @reply %></h4>
          <p class="card-text">#リプ返つらい</p>
        </div>
      </div>
      <p></p>
      <div>
        <% tweettext = "@#{@authorname}さんのツイート%0A「#{@text}」%0A%0AにAIがリプライ！%0A%0A「#{@reply}」%0A%0A" %>
        <%= link_to 'AIのリプライをTwitterで投稿する', "https://twitter.com/intent/tweet?text=#{tweettext}&hashtags=リプ返つらい&url=https://replytsurai.onrender.com/", class: 'btn btn-secondary' %>
      </div>
      <%= link_to 'ツイート一覧に戻る', "/twitter/show2?userid=#{@userid}" %>
    </div>
  </div>
</main>